.skills {
    background: linear-gradient(180deg, #0A040F 0%, #261835 35.21%, #261835 64.90%, #0A040F 100%);
    padding-top: 20px;
    padding-bottom: 40px;
    width: 1690px;
    margin: 0 auto;
}

